<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign up</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<%- include("partials/head") %>
<body>
	<h1>Sign up</h1>
	<form action="">
		<label for="">Name</label>
		<input type="text">
		<label for="">password</label>
		<input type="password">
		<button type="submit">Sign up</button>
	</form>
	<a href="/login">Login</a>
</body>
</html>